PYTHONUTF8=1

# Foundry crendentials
FOUNDRY_PROJECT_ENDPOINT=
AZURE_API_KEY=

# Model deployments
FAST_MINI_MODEL=
STANDARD_HEAVY_MODEL=

# Image model deployments
IMAGE_GEN_MODEL=
IMAGE_GEN_URL=

# For speech-related resources
AZURE_SPEECH_KEY=
AZURE_SPEECH_REGION=
SPEECH_RESOURCE_ENDPOINT=

# For file storage system
AZURE_STORAGE_ACCOUNT_NAME=
AZURE_STORAGE_ACCOUNT_KEY=
AZURE_BLOB_CONTAINER_NAME=
AZURE_STORAGE_ACCOUNT_URL=

# For Memory store
MEMORY_STORE_NAME=
MEMORY_STORE_CHAT_MODEL_DEPLOYMENT_NAME=
MEMORY_STORE_EMBEDDING_MODEL_DEPLOYMENT_NAME=

# For Knowledge
AZURE_SEARCH_ENDPOINT=
AZURE_SEARCH_KEY=

# Nylas API credential for your personal account
NYLAS_API_KEY=
NYLAS_GRANT_ID=